In [ ]:
from src.ext_services.rest_jsql_service import RestJSQLService

In [ ]:
jsql_service = RestJSQLService()

In [ ]:
sql = "select salary from employees where salary < (select max(salary) from employees)"

In [ ]:
jsql_service.call_jsql(sql)

In [ ]:
!curl --location --request POST "192.168.1.4:8079/sqltojson" --header 'Content-Type: application/json' --data-raw '{"sql":"select salary from employees where salary < (select max(salary) from employees)"}'

In [1]:
from src.ext_services.jsql_parser import JSQLParser
import requests
parser = JSQLParser.create()

In [2]:
sql = "select first_name, last_name from customers"
parsed_gold = parser.translate(sql)
parsed_gold

translate_sql func :
select first_name, last_name from customers
parse_sql func :
select first_name, last_name from customers
_sql_to_json func :
call_jsql func :
select first_name, last_name from customers
asdsadsa

{'select_body_0': [{'select_items': ['first_name',
    'last_name',
    ['first_name', 'last_name']],
   'top_items': [],
   'from_items': ['customers'],
   'where_items': [],
   'order_items': [],
   'groupby_items': [],
   'having_items': []}]}

In [5]:
requests.post("http://192.168.1.4:8079/sqltojson", json={"sql": sql}, timeout=3)

In [ ]:
curl