In [2]:
import pandas as pd
import numpy as np
from nltk import word_tokenize, tokenize
import json
import random

In [3]:
df = pd.read_csv("sql_pairs.csv")

In [4]:
df = df[['Query', 'Sql pattern new']]

df = df.dropna()
df.reset_index(inplace=True,drop=True)

In [5]:
df.rename(columns= { "Query" : "Title" , "Sql pattern new" : "QueryBody"},inplace=True)

In [6]:
df.head()

,Title,QueryBody
0,Who are my outstanding creditors?,"select vendor_name, balance from vendors where..."
1,How often do we bill design for freeman sporti...,select sum(quantity) from master_txn_table whe...
2,Who has the most money oustanding?,"select customers, sum(open_balance) as outstan..."
3,How much money did we make august?,select sum(credit) from master_txn_table as T...
4,Who are my outstanding creditors?,"select vendor_name, balance from vendors where..."

In [7]:
df["QuerySetId"] = np.random.randint(10**2,10**4,size = len(df))
df["Description"] = ["null"]*len(df)

df["CreationDate"] = ["2020-12-10 14:42:00"] * len(df)
df["validated"] = [True] * len(df)

In [11]:
df.head()

,Title,QueryBody,QuerySetId,Description,CreationDate,validated
0,Who are my outstanding creditors?,"select vendor_name, balance from vendors where...",6343,null,2020-12-10 14:42:00,True
1,How often do we bill design for freeman sporti...,select sum(quantity) from master_txn_table whe...,5237,null,2020-12-10 14:42:00,True
2,Who has the most money oustanding?,"select customers, sum(open_balance) as outstan...",9683,null,2020-12-10 14:42:00,True
3,How much money did we make august?,select sum(credit) from master_txn_table as T...,5220,null,2020-12-10 14:42:00,True
4,Who are my outstanding creditors?,"select vendor_name, balance from vendors where...",9755,null,2020-12-10 14:42:00,True

In [15]:
train_df, validate_df, test_df = np.split(df.sample(frac=1, random_state=42), 
                       [int(.6*len(df)), int(.8*len(df))])

train_df.reset_index(inplace=True,drop=True)
validate_df.reset_index(inplace=True,drop=True)
test_df.reset_index(inplace=True,drop=True)

In [13]:
train_df.shape,validate_df.shape,test_df.shape

((583, 6), (194, 6), (195, 6))

In [18]:
# with open("test_original.json","w") as op_file:
#     json.dump(test_json,op_file,indent=4)

train_df.to_json("train.jsonl", orient="records", lines=True)
validate_df.to_json("val.jsonl", orient="records", lines=True)
test_df.to_json("test.jsonl", orient="records", lines=True)